<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee" version="6.0">
    <welcome-file-list><welcome-file>home</welcome-file></welcome-file-list>
    <error-page><exception-type>java.lang.Exception</exception-type><location>/error</location></error-page>
    <error-page><error-code>404</error-code><location>/error</location></error-page>
</web-app>
